# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS miscellaneous
.vs/
*.vcxproj.user

# local helper files
tags
breakpoints.lldb
.lldbinit
*.tmp

# Build directories
Debug
Release
build*
Testing
